* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
#header {
  position: relative;
  width: 100%;
  height: 100vh;
  background: url("https://images.unsplash.com/photo-1603584173870-7f23fdae1b7a?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=869&q=80");
  background-size: 160%;
  background-position: center;
  background-attachment: fixed;
}
